#page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  background: #343942;
}

#header-logo {
  font-size: 15px;
  line-height: 54px;
  float: left;
  height: 54px;
  width: 215px;
  margin-right: 5px;
  color: #fafafa;
  background: #20242a;
}

#page-sidebar {
  position: fixed;
  height: 100%;
  left: 0;
  top: 54px;
  width: 215px;
  color: #3a4049;
  background-color: #f5f7f9;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.side-bar-menu {
  font-size: 14px;
  line-height: 32px;
  position: relative;
  display: block;
  height: 32px;
  margin: 10px 10px;
  padding: 4px;
  text-align: left;
  border-radius: 4px;
  color: #768294;
  text-decoration: none;
}

.side-bar-menu:hover {
  color: #2381E9;
  background: #fff;
}

#timecount {
  text-align: right;

}

.question {
  font-size: 13px;
  line-height: 30px;
  position: relative;
  display: block;
  height: 30px;
  margin: 10px 30px;
  padding: 4px;
  text-align: left;
  border-radius: 4px;
  color: #768294;
  text-decoration: none;
}

.question:hover {
  color: #2381E9;
  background: #fff;
}

.new {
  position: absolute;
  top: 10px;
  right: 40px;
  color: #fff;
  border-color: #8eca3f;
  background: #9cd159;
  font-size: 75%;
  line-height: 1;
  /* display: inline; */
  display: none;
  padding: .2em .6em .3em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  border-radius: .25em;
}

#page-content {
  padding: 30px;
  margin-left: 215px;
  margin-top: 54px;
}

.form-wrapper {
  font-size: 15px;
  line-height: 30px;
  background-color: #FFFFFF;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.title {
  color: grey;
}

.content {
  line-height: 32px;
  margin-left: 50px;
}

[for] {
  display: inline-block;
  width: 97%;
}

#submit {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

progress {
  height: 32px;
  width: 80%;
  margin: auto;
}

#submit-button {
  height: 32px;
  margin: auto;
  background-color: skyblue;
  border: none;
  border-radius: 5px;
  display: none;
}

#confirm {
  position: fixed;
  left: 500px;
  top: 200px;
  border: 0.5px solid gray;
  border-radius: 5px;
  width: 400px;
  height: 125px;
  background-color: white;
  text-align: center;
  padding: 30px 0;
  font-size: 20px;
  line-height: 32px;
  display: none;
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.2), 0 12px 42px 0 rgba(0, 0, 0, 0.19);
  /* transition: all 2s; */
}

#confirm-button-wrapper {
  width: 125px;
  margin-left: 225px;
}

.confirm-button {
  height: 32px;
  width: 50px;
  /* margin-left: 30px; */
  border: none;
  border-radius: 5px;
}

#confirm-yes {
  background-color: rgb(137, 135, 235);
}

@media only screen and (max-width:700px) {
  body {
    margin: 0px;
  }
  #header-logo {
    width: 54px;
  }
  #page-sidebar {
    position: static;
    /* display: none; */
    margin: 54px 0px;
    width: 100%;
    padding: 5px;
  }
  .side-bar-menu {
    position: static;
    margin: 0px;
  }
  #page-content {
    margin-left: auto;
    margin-right: auto;
  }
  .form-wrapper {
    font-size: 20px;
    line-height: 30px;
    background-color: #FFFFFF;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  }
  .title {
    text-align: center;
    line-height: 40px;
  }
  .content {
    margin: 0;
  }
  #confirm {
    width: 90%;
    left: 5%;
  }
  #confirm-button-wrapper {
    margin: auto;
  }
}